#root {
    max-width: 1500px;
    margin: 0 auto;
    padding: 2rem;

}

h1 {
    font-size: medium;
    margin: 5em;
    color: #1A237E;
    text-align: center;
}

#copy {
    font-size: 1rem;
    color: #283593;
    text-align: center;
    padding: 2rem;
}