.Board {
    /* width: 100px;
    height: 100px; */
    width: 1.4em;
    height: 1.4em;

    border-radius: 100px;
    /* padding-top: 0.1%; */
    font-size: 70px;
    color: blue;
    text-align: center;
    transition: opacity 0.2s;
}

.Board:hover {
    opacity: 0.7;
}